body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 900px;
  border-radius: 10px;
  font-family: 'Antic Slab', serif;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
       box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/*color styles*/
h3{
  color: #5F4B8BFF;
}

mark {
  background-color: #5F4B8BFF;
  color: whitesmoke;
}

figure {
  display: flex;
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}
/*left section*/
.left_section {
  width: 30%;
  padding: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #E69A8DFF;
}
/*end of left section*/


/*right section*/
.right_section {
  width: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
/*end of right section*/


/*contact group*/
.contact_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > img {
  width: 20px;
}
/*end of contact group*/


/*skills group*/
.skill_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > figure > img {
  width: 20px;
}
/*end of skills group*/


/*language group*/
.language_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*end of language group*/


/*photo, fullname group*/
.p_f_group {
  display: flex;
}
.photo {
  width: 200px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.fullname_group {
  width: auto;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*end of photo, fullname group*/



/* education Certification group*/
.certificate_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*end of Certification  group*/

@media only screen and (max-width: 800px) {
  body {
    padding: 0px;
    margin: 0px;
  }
  .container {
    border-radius: 0px;
    width: 100%;
    flex-direction: column-reverse;
    box-shadow: none;
    margin: 10px;
  }
  .left_section {
    flex-direction: column-reverse;
    width: 99%;
    padding: 5px;
    background-color: white;
  }
  .right_section {
    justify-content: center;
    width: 99%;
    padding: 5px;
  }
  .fullname_group {
    width: auto;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}